[workspace]
name = "parabem"
version = "1.0.2"
description = "Add a short description here"
authors = ["looooo <sppedflyer@gmail.com>"]
channels = ["conda-forge"]
platforms = ["linux-64", "linux-aarch64", "osx-arm64", "win-64"]

[tasks]
configure = { cmd = ["cmake", "-G", "Ninja", "-B", "build", "-S", ".", "-D", "CMAKE_INSTALL_PREFIX:FILEPATH=$CONDA_PREFIX", "-D", "CMAKE_BUILD_TYPE=Debug"]}
configure_release = { cmd = ["cmake", "-G", "Ninja", "-B", "build", "-S", ".", "-D", "CMAKE_INSTALL_PREFIX:FILEPATH=$CONDA_PREFIX", "-D", "CMAKE_BUILD_TYPE=Release"]}
build = {cmd = ["ninja", "-C", "build", "install"], depends-on = ["configure"]}
build_release = {cmd = ["ninja", "-C", "build", "install"], depends-on = ["configure_release"]}
crash = {cmd = ["python", "examples/openglider/crash.py"]}
shape = {cmd = ["python", "examples/openglider/shape_cl_cd.py"]}
examples = {cmd = ["python", "examples/run_all.py", "shape", "crash"]}

[dependencies]
ninja = "*"
cmake = "*"
python = "*"
pybind11 = "*"
eigen = "*"
numpy = "*"
matplotlib-base = "*"
requests = "*"
# openglider = "*"
compilers="*"


